*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --primary-Linear-Gradient-One: hsl(236, 72%, 79%);
    --primary-Linear-Gradient-two: hsl(237, 63%, 64%);
}

.container{
    height: 100vh;
    background-image: url("/images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

body{
    background-image: url("/images/bg-top.svg");
    background-color: var(--Very-Light-Grayish-Blue);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 300px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 20px;
    color: var(--Grayish-Blue);
    font-size: 12px;
}

.top-selector{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    color: var(--Light-Grayish-Blue);
    font-size: 10px;
}

.top-selector input{
    margin: 10px;
}

[type="range"]{
    appearance: none;
    background: var(--primary-Linear-Gradient-two);
    outline: none;
    width: 40px;
    height: 20px;
    padding: 4px;
    border-radius: 15px;
}

input::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: var(--Very-Light-Grayish-Blue);
    cursor: pointer;
}

.options-plan{
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan{
    width: 320px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px var(--Light-Grayish-Blue);
    color: var(--Grayish-Blue);
    background-color: var(--Very-Light-Grayish-Blue);
}

.plan h2, li{
    margin-bottom: 20px;
    font-size: 15px;
    list-style-type: none;
}

.sign{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Dark-Grayish-Blue);
}

.sign-professional{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Very-Light-Grayish-Blue);
}

.plan-center{
    width: 330px;
    height: 450px;
    background-color: var(--primary-Linear-Gradient-two);
    color: var(--Very-Light-Grayish-Blue);
}

.plan-center span{
    color: var(--Very-Light-Grayish-Blue);
}

span{
    font-size: 60px;
    margin-left: 5px;
}

li{
    margin: 5px;
    padding: 15px;
    border-top: 1px solid #CCC;
}

.bottom-list{
    border-bottom: 1px solid #CCC;
    margin-bottom: 35px;
}

.plan a{
    padding: 10px 80px;
    border-radius: 5px;
    background: linear-gradient(90deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    text-decoration: none;
    color: var(--Very-Light-Grayish-Blue);
    font-size: 12px;
}

.plan-center a{
    background: var(--Very-Light-Grayish-Blue);
    color: var(--primary-Linear-Gradient-two);
}

.plan a:hover{
    background: var(--Very-Light-Grayish-Blue);
    color: var(--primary-Linear-Gradient-two);
    border: 1px solid var(--primary-Linear-Gradient-two);
    transition: 0.3s;
}

.plan-center a:hover{
    background: var(--primary-Linear-Gradient-two);
    color: var(--Very-Light-Grayish-Blue);
    border: 1px solid var(--Very-Light-Grayish-Blue);
    transition: 0.3s;
}

input:hover{
    background: var(--primary-Linear-Gradient-One);
    transition: 0.3s;
}

@media screen and (max-width: 850px){

.options-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-center{
    width: 320px;
    height: 400px;
    margin: 20px;
}

}